<footer class="footer">
    <br>
    <h3><u><a href="mailto: victoriaharpist@gmail.com">Contact</a></u> Victoria</h2>
    <h3>(510)932-2141</h3>
    <div>
        <a href="https://www.youtube.com/channel/UCSfEObwtxH5fWgzTYEzqTWA"><img src="{{ site.baseurl }}/assets/youtube_social_circle_red.png"></a>
        <a href="https://www.facebook.com/Victoriaharpist/timeline?ref=page_internal"><img src="{{ site.baseurl }}/assets/f_logo_RGB-Blue_58.png"></a>
        <a href="https://www.yelp.com/biz/victoriaharpist-el-cerrito"><img src="{{ site.baseurl }}/assets/burst_icon.png"></a>
    </div>
    <br>
    <br>
    <br>
    <p style="font-size: 15px;">2020 Web Design by Julian Ranieri</p>
</footer>
