<header class="header" id="header">
    <h1>Victoria Harpist</h1>
    {% comment %} <img class="header-img" src="{{ site.baseurl }}/assets/Logov2.png"> {% endcomment %}
    <div class="nav">
        <p class="nav-item"><a href="{{ site.baseurl }}/index.html">Home</a></p>
        <hr>
        <p class="nav-item"><a href="{{ site.baseurl }}/lessons.html">Lessons</a></p>
        <hr>
        <p class="nav-item"><a href="{{ site.baseurl }}/Arrangements.html">Sheet Music</a></p>
        <hr>
        <p class="nav-item"><a href="{{ site.baseurl }}/Music.html">Listen</a></p>
    </div>
    <div class="container" id="container" onclick="hamburger()">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
      
        <div class="container-content" id="container-content">
            <a class="menup" href="{{ site.baseurl }}/index.html">Home</a>
          <hr>
            <a class="menup" href="{{ site.baseurl }}/lessons.html">Lessons</a>
          <hr>
            <a class="menup" href="{{ site.baseurl }}/Arrangements.html">Sheet Music</a>
          <hr>
            <a class="menup" href="{{ site.baseurl }}/Music.html">Listen</a>
        </div>
</header>
<div class="progress-container" id="progress-container">
    <div class="progress-bar" id="myBar"></div>
</div>
<div class="location" id="location"></div>