/* main */
body {
    color: rgb(247, 230, 201);
    font-family: "Cormorant SC";
    letter-spacing: 4px;
    font-weight: lighter;
    margin: 0;
    padding: 0;
    font-size: 20px;
    text-shadow: 1px 1px rgb(0, 0, 0);
    background-color: rgb(46, 41, 53);
    /* background-image: url('vintage-wallpaper.png');
    background-position: center top;
    background-attachment: fixed; */
}

a {
    color: rgb(255, 162, 0);
    text-decoration: none;
    transition-duration: 0.4s;
}

a:hover {
    color: rgb(115, 136, 255);
}

a:active {
    color: rgb(255, 87, 87);
}

hr {
    background-color: rgb(115, 136, 255);
    border-width: 0px;
    width: 1px;
}

p {
    line-height: 200%;
}

/* header */
.header {
    padding: 0px;
    position: -webkit-sticky;
	position: sticky;
    top: 0;
    z-index: 200; /* useful to keep href working on container content in hamburger */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to bottom left, rgb(184, 123, 137), rgb(70, 47, 74));
    box-shadow: 0px 2px 10px 2px rgb(31, 31, 31);
    animation-name: '';
    animation-duration: 1s;
}

.header-img {
    max-width: 250px;
    margin: 0px;
    padding: 0px;
}

.header h1 {
    color: rgb(242, 242, 242);
    font-family: 'vibes';
    text-shadow: 2px 3px rgb(46, 45, 45);
    letter-spacing: 8px;
    padding: 0px;
    margin: 0px;
}

/* nav */

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* .nav-item {
    font-size: 20px;
} */

.nav hr {
    height: 30px;
}

/* nav hamburger */
.container {
    display: block;
    width:auto;
    cursor: pointer;
}
.bar1, .bar2, .bar3 {
    border-radius: 100px;
    width: 50px;
    height: 5px;
    background-color: #151515;
    margin: 10px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

#container-content {
    font-size: 40px;
    display: none;
    flex-direction: column;
    position: absolute;
    background-color: rgb(85, 85, 85);
    width: 100%;
    left: 0;
    top: 0;
    z-index: 1;
    /* opacity: .8; */
    justify-content: center;
    text-align: center;
    margin-top: 30%;
}

#container-content hr {
    width: 100%;
    height: 2px;
    margin: 0px;
    background-color: white;
}

#container-content p {
    margin: 0px;
    padding: 10px;
}

.menup {
    padding: 25px;
    letter-spacing: 10px;
    cursor: pointer;
}

.menup:hover {
    background-color: rgb(255, 162, 0);
    width: auto;
}

/* Landing */

.landing {
	width: 100%;
	height: 100vh;
	background-image: url("VictoriaWeb.jpg");
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
    align-items: center;
    position: relative;
}

.landing h1 {
    font-size: 60px;
    text-shadow: 2px 2px rgb(0, 0, 0);
    animation-name: header;
    animation-duration: 4s;
}
.landing h2 {
    font-size: 40px;
    text-shadow: 2px 2px rgb(0, 0, 0);
    animation-name: header;
    animation-duration: 4s;
}

/* slant */
.slant {
    display: none;
    background-color: rgb(46, 41, 53);
    /* background-image: url('vintage-wallpaper.png');
    background-position: center top;
    background-attachment: fixed; */
    padding-top: 130px;
    position: relative;
    width: 100%;
}

.slant:before {
    position: absolute;
    content: '';
    width: 60%;
    height: 125px;
    top: -50px;
    left: 0;
    background-color: rgb(46, 41, 53);
    /* background-image: url('vintage-wallpaper.png');
    background-position: center top;
    background-attachment: fixed; */
    transform: skewY(10deg);
}

.slant::after {
    position: absolute;
    content: '';
    width: 60%;
    height: 125px;
    top: -50px;
    right: 0;
    background-color: rgb(46, 41, 53);
    /* background-image: url('vintage-wallpaper.png');
    background-position: center top;
    background-attachment: fixed; */
    transform: skewY(-10deg);
}

/* advert */
.advert {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* Section */
section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin: auto;
    padding-left: 150px;
    padding-right: 150px;
    /* max-width: 1000px; */
}

.style2 {
    
}

/* Footer */
.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    align-self: flex-end;
    flex-wrap: wrap;
    height: 90vh;
    font-size: 35px;
    position: relative;
    /* padding: 5px; */
    text-align: center;
    background-image: url('sheetmusic.jpg');
    background-size: cover;
    background-attachment: fixed;
    /* box-shadow: 0px 2px 10px 2px rgb(31, 31, 31); */
    /* background-image: linear-gradient(to bottom left, rgb(184, 123, 137), rgb(70, 47, 74));
    */
}

.footer img {
    width: 70px;
    padding: 10px;
}

/* media query */

@media screen and (min-width: 701px) {
    .nav-item {
        margin-left: 15px;
        margin-right: 15px;
    }
    .container {
        display: none;
    }
}
@media screen and (max-width: 700px) {
    .nav {
        display: none;
    }
    .header {
        justify-content: space-between;
        padding-left: 20px;
        padding-right: 20px;
    }
    section {
        padding-left: 10px;
        padding-right: 10px;
    }
    .landing {
        background-position: left;
        background-attachment:scroll
    }
    .footer {
        background-position: left;
        background-attachment:scroll
    }
}

/* Animations */

@keyframes header {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}