/* main */
body {
    color: rgb(244, 228, 201);
    font-family: serif;
    margin: 0;
    padding: 0;
    font-size: 20px;
    text-shadow: 1px 1px rgb(77, 77, 77);
    background-color: rgb(48, 32, 51);
}

a {
    color: rgb(255, 162, 0);
    text-decoration: none;
}

hr {
    background-color: rgb(81, 67, 172);
    border-width: 0px;
    width: 1px;
}

/* header */
.header {
    position: -webkit-sticky;
	position: sticky;
    top: 0;
    z-index: 200; /* useful to keep href working on container content in hamburger */
    height: 100px;
    display: none;
    flex-direction: row;
    align-content: space-between;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
    background-image: linear-gradient(to top left, rgb(184, 104, 123), rgb(44, 33, 55));
    box-shadow: 0px 2px 10px 2px rgb(0, 0, 0);
}

.header-img {
    width: 500px;
}

.header h1 {
    color: rgb(242, 242, 242);
    font-family: 'vibes';
    text-shadow: 2px 3px rgb(46, 45, 45);
    letter-spacing: 8px;
    padding: 0px;
    margin: 0px;
}

/* nav */

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    font-size: 20px;
    padding: 10px;
}

.nav hr {
    height: 30px;
}

/* nav hamburger */
.container {
    display: block;
    width:auto;
    margin-left:50px;
    cursor: pointer;
}
.bar1, .bar2, .bar3 {
    border-radius: 100px;
    width: 50px;
    height: 5px;
    background-color: #151515;
    margin: 10px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

#container-content {
    font-size: 40px;
    display: none;
    flex-direction: column;
    position: absolute;
    background-color: rgb(125, 140, 153);
    width: 100%;
    left: 0;
    top: 0;
    z-index: 1;
    /* opacity: .8; */
    justify-content: center;
    text-align: center;
    margin-top: 20%;
}

#container-content hr {
    width: 100%;
    height: 2px;
    margin: 0px;
    background-color: white;
}

#container-content p {
    margin: 0px;
    padding: 10px;
}

.menup {
    padding: 25px;
    letter-spacing: 10px;
    cursor: pointer;
}

.menup:hover {
    background-color: rgb(230, 176, 226);
    width: auto;
}

/* Landing */

.landing {
	width: 100%;
	height: 100vh;
	background-image: url("./assets/VictoriaWeb.jpg");
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
    align-items: center;
    position: relative;
}

.landing h1 {
    font-size: 60px;
}

/* slant */
.slant {
    background: rgb(48, 32, 51);
    padding-top: 130px;
    position: relative;
    width: 100%;
}

.slant:before {
    position: absolute;
    content: '';
    width: 60%;
    height: 125px;
    top: -50px;
    left: 0;
    background: rgb(48, 32, 51);
    transform: skewY(10deg);
}

.slant::after {
    position: absolute;
    content: '';
    width: 60%;
    height: 125px;
    top: -50px;
    right: 0;
    background: rgb(48, 32, 51);
    transform: skewY(-10deg);
}

/* advert */
.advert {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* Section */
section {
    position: relative;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    /* align-items: left;
    justify-content: center; */
    margin: auto;
    padding-left: 100px;
    padding-right: 100px;
    /* max-width: 1000px; */
}

.style2 {
    background-image: url('./assets/vintage-wallpaper.png');
    background-position: center top;
    background-attachment: fixed;
}

/* Footer */
.footer {
    position: relative;
    padding: 5px;
    text-align: center;
    box-shadow: 0px -2px 10px 2px rgb(0, 0, 0);
    background-image: linear-gradient(to top left, rgb(184, 104, 123), rgb(44, 33, 55));
}

/* media query */

@media screen and (min-width: 701px) {
    .nav-item {
        margin-left: 15px;
        margin-right: 15px;
    }
    .container {
        display: none;
    }
}
@media screen and (max-width: 700px) {
    .nav {
        display: none;
    }
    .header {
        justify-content: center;
    }
}